


/* top section */
#sectiontop{
	min-height: 768px;
	height: auto;
	background-color: #ffffff;
	border: 0px solid;
	text-align: center;
	background-image: url('../img/mbu_black_logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 550px 450px;
}

#sectiontop > h1{
	margin-top: 300px;
	font-family: 'Lobster', cursive;
	font-size: 50px;
	color: #3e7b89;
}

#sectiontop > h3{
	font-family: 'Lobster', cursive;
	color: #75d1ea;
}

.bottomgradientwrapper{
	position: relative;
	margin-top: -10px;
	height: 50px;
}

/* How It Works Section */
#sectionabout{
	min-height: 500px;
	width: auto;
	height: auto;
	background-color: #000000;
	background-repeat: no-repeat;
	background-position: left;
	background-size: 60% 100%;
}
#sectionabout h1{
	font-family: 'Tangerine', cursive;
	font-size: 60px;
	color: #75d1ea;
}
#sectionabout p{
	color: #ffffff;
}

.hiwContainer{
	padding: 10px;
	margin: 10px;
	background: #f5433e;
}

/* Section for majors */

.sectionmajors{
	min-height: 500px;
	background-color: #ecf0f1;
}

.sectionmajors img{
	height: 300px;
	width: 300px;
}

#majornav img{
	height: 100px;
	width: 100px;
}

/* Signup section */

#sectionsignup{
	min-height: 500px;
	background-color: #2c3e50;
}

#sectionsignup h1{
	color: #FFFFFF;
	margin-top: 200px;
}

#sectionsignup img{
	width: 75px;
	height: 75px;
	margin: 10px;
}
/* Styling for sticky element */
.sticky-element h3{
	margin: 0 auto;
	width: 200px;
	background-color: #CCCCCC;
	color: #ffffff;
	text-align: center;
}

/* Styling required for stuck elements */
.sticky-element .stuck h3 {
	right: 20%;
	position: fixed;
	top:20px;
	color: #000000;
}