


/* top section */
#sectiontop{
	min-height: 500px;
	height: auto;
	background-color: #ffffff;
	border: 0px solid;
	text-align: center;
	background-image: url('../img/mbu_black_logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 550px 450px;
}

#sectiontop > h1{
	margin-top: 150px;
	font-family: 'Lobster', cursive;
	font-size: 50px;
	color: #3e7b89;
}

#sectiontop > h3{
	font-family: 'Lobster', cursive;
	color: #75d1ea;
}


/* Styling for sticky element */
.sticky-element h3{
	margin: 0 auto;
	width: 200px;
	background-color: #CCCCCC;
	color: #ffffff;
	text-align: center;
}

/* Styling required for stuck elements */
.sticky-element .stuck h3 {
	right: 20%;
	position: fixed;
	top:20px;
	color: #000000;
}